body {
  height: 100vh;
  display: flex;
  margin: 0;
}

header {
  flex: 0.4;
}

div.form {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input {
  display: block;
}

form {
  display: flex;
  flex-wrap: wrap;
}